<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Konecta</title>

    <link
      rel="shortcut icon"
      type="image/icon"
      href="../../static/images/konecta_icon.webp"
    />
    <!-- BOOTSTRAP STYLES-->
    <link href="../../static/assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="../../static/assets/css/font-awesome.css" rel="stylesheet" />
    <!--CUSTOM BASIC STYLES-->
    <link href="../../static/assets/css/basic.css" rel="stylesheet" />
    <!--CUSTOM MAIN STYLES-->
    <link href="../../static/assets/css/custom.css" rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    <link
      href="http://fonts.googleapis.com/css?family=Open+Sans"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" href="../../static/css/register.css" />
  </head>
  <body style="background-color: #e2e2e2">
    <div id="wrapper" style="background-color: #e2e2e2">
      <nav
        class="navbar navbar-default navbar-cls-top"
        role="navigation"
        style="margin-bottom: 0"
      >
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle"
            data-toggle="collapse"
            data-target=".sidebar-collapse"
          >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Konecta</a>
        </div>

        <div class="header-right">
          <a href="message-task.html" class="btn btn-info" title="New Message"
            ><b>30 </b><i class="fa fa-envelope-o fa-2x"></i
          ></a>
          <a href="message-task.html" class="btn btn-primary" title="New Task"
            ><b>40 </b><i class="fa fa-bars fa-2x"></i
          ></a>
          <a href="/logout" class="btn btn-danger" title="Logout"
            ><i class="fa fa-exclamation-circle fa-2x"></i
          ></a>
        </div>
      </nav>
      <!-- /. NAV TOP  -->
      <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
          <ul class="nav" id="main-menu">
            <li>
              <div class="user-img-div">
                <img
                  src="../../static/assets/img/user.png"
                  class="img-thumbnail"
                />

                <div class="inner-text">
                  Flori Bica
                  <br />
                  <small>Last Login : 2 Weeks Ago </small>
                </div>
              </div>
            </li>

            <li>
              <a href="/"><i class="fa fa-dashboard"></i>Dashboard</a>
            </li>
            <li>
              <a class="active-menu" href="/it/change_password"
                ><i class="fa fa-pencil" aria-hidden="true"></i>Change
                Password</a
              >
            </li>
            <li>
              <a href="#"
                ><i class="fa fa-yelp"></i>Extra Pages
                <span class="fa arrow"></span
              ></a>
              <ul class="nav nav-second-level">
                <li>
                  <a href="invoice.html"><i class="fa fa-coffee"></i>Invoice</a>
                </li>
                <li>
                  <a href="pricing.html"><i class="fa fa-flash"></i>Pricing</a>
                </li>
                <li>
                  <a href="component.html"
                    ><i class="fa fa-key"></i>Components</a
                  >
                </li>
                <li>
                  <a href="social.html"><i class="fa fa-send"></i>Social</a>
                </li>

                <li>
                  <a href="message-task.html"
                    ><i class="fa fa-recycle"></i>Messages & Tasks</a
                  >
                </li>
              </ul>
            </li>
            <li>
              <a href="table.html"><i class="fa fa-flash"></i>Data Tables </a>
            </li>
            <li>
              <a href="#"
                ><i class="fa fa-bicycle"></i>Forms
                <span class="fa arrow"></span
              ></a>
              <ul class="nav nav-second-level">
                <li>
                  <a href="form.html"><i class="fa fa-desktop"></i>Basic </a>
                </li>
                <li>
                  <a href="form-advance.html"
                    ><i class="fa fa-code"></i>Advance</a
                  >
                </li>
              </ul>
            </li>
            <li>
              <a href="gallery.html"><i class="fa fa-anchor"></i>Gallery</a>
            </li>
            <li>
              <a href="error.html"><i class="fa fa-bug"></i>Error Page</a>
            </li>
            <li>
              <a href="login.html"><i class="fa fa-sign-in"></i>Login Page</a>
            </li>
            <li>
              <a href="#"
                ><i class="fa fa-sitemap"></i>Multilevel Link
                <span class="fa arrow"></span
              ></a>
              <ul class="nav nav-second-level">
                <li>
                  <a href="#"><i class="fa fa-bicycle"></i>Second Level Link</a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-flask"></i>Second Level Link</a>
                </li>
                <li>
                  <a href="#"
                    >Second Level Link<span class="fa arrow"></span
                  ></a>
                  <ul class="nav nav-third-level">
                    <li>
                      <a href="#"><i class="fa fa-plus"></i>Third Level Link</a>
                    </li>
                    <li>
                      <a href="#"
                        ><i class="fa fa-comments-o"></i>Third Level Link</a
                      >
                    </li>
                  </ul>
                </li>
              </ul>
            </li>

            <li>
              <a href="blank.html"><i class="fa fa-square-o"></i>Blank Page</a>
            </li>
          </ul>
        </div>
      </nav>
      <!-- /. NAV SIDE  -->
      <div class="container" style="background-color: #e2e2e2">
        <div class="row text-center" style="padding-top: 100px">
          <div class="col-md-12">
            <img src="../../static/images/konecta_logo.png" />
          </div>
        </div>
        <div class="row">
          <div
            class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1"
          >
            <div class="panel-body">
              <form role="form" action="/it/change_password" method="post">
                <hr />
                <h4 style="text-align: center">Login</h4>
                {% with messages =
                get_flashed_messages(category_filter=["reset"]) %} {% if
                messages %} {% for message in messages %}
                <p class="text-danger text-center">{{ message }}</p>
                {% endfor %} {% endif %} {% endwith %}
                <br />
                <div class="form-group input-group">
                  <span class="input-group-addon"
                    ><i class="fa fa-tag"></i
                  ></span>
                  <input
                    type="text"
                    name="username"
                    id="username"
                    class="form-control"
                    placeholder="Your Username "
                  />
                </div>
                <div class="form-group input-group">
                  <span class="input-group-addon"
                    ><i class="fa fa-unlock" aria-hidden="true"></i
                  ></span>
                  <input
                    type="password"
                    name="old_password"
                    id="old_password"
                    class="form-control"
                    placeholder="Your Old Password"
                  />
                </div>
                <div class="form-group input-group">
                  <span class="input-group-addon"
                    ><i class="fa fa-key" aria-hidden="true"></i
                  ></span>
                  <input
                    type="password"
                    name="password"
                    id="password"
                    class="form-control"
                    placeholder="Your New Password"
                  />
                </div>
                <div class="form-group input-group">
                  <span class="input-group-addon"
                    ><i class="fa fa-unlock-alt" aria-hidden="true"></i
                  ></span>
                  <input
                    type="password"
                    name="confirm_password"
                    id="confirm_password"
                    class="form-control"
                    placeholder="Confirm Password"
                  />
                </div>
                <button type="submit" class="btn btn-primary">
                  Reset Password
                </button>
                <hr />
                Go to <a href="/">Home</a>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
