<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Konecta</title>

    <link
      rel="shortcut icon"
      type="image/icon"
      href="../../static/images/konecta_icon.webp"
    />
    <!-- BOOTSTRAP STYLES-->
    <link href="../../static/assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="../../static/assets/css/font-awesome.css" rel="stylesheet" />
    <!-- MORRIS CHART STYLES-->
    <link
      href="../../static/assets/js/morris/morris-0.4.3.min.css"
      rel="stylesheet"
    />
    <!-- CUSTOM STYLES-->
    <link href="../../static/assets/css/basic.css" rel="stylesheet" />
    <link href="../../static/assets/css/custom.css" rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    <link
      href="../../../static/css/it/inventory/computers/dataTables.bootstrap.css"
      rel="stylesheet"
    />
    <link
      href="http://fonts.googleapis.com/css?family=Open+Sans"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="http://fonts.googleapis.com/css?family=Open+Sans"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body>
    <div id="wrapper">
      <nav
        class="navbar navbar-default navbar-cls-top"
        role="navigation"
        style="margin-bottom: 0"
      >
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle"
            data-toggle="collapse"
            data-target=".sidebar-collapse"
          >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Konecta</a>
        </div>
        <div class="header-right">
          <a href="/it/hrs/request" class="btn btn-info" title="New Message"
            ><b>{{ total_reuest.total_request}} </b><i class="fa fa-envelope-o fa-2x"></i
          ></a>
          <a href="/logout" class="btn btn-danger" title="Logout"
            ><i class="fa fa-exclamation-circle fa-2x"></i
          ></a>
        </div>
      </nav>
      <!-- /. NAV TOP  -->
      <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
          <ul class="nav" id="main-menu">
            <li>
              <div class="user-img-div">
                <img
                  src="../../static/assets/img/user.png"
                  class="img-thumbnail"
                />

                <div class="inner-text">
                  {{ full_name }}
                  <br />
                </div>
              </div>
            </li>

            <li>
              <a class="active-menu" href="/"
                ><i class="fa fa-dashboard"></i>Dashboard</a
              >
            </li>
            <li>
              <a href="/users"><i class="fa fa-user"></i>Users</a>
            </li>
            <li>
              <a href="/procesverbal"
                ><i class="fa fa-file-pdf-o"></i>ProcesVerbal</a
              >
            </li>
            <li>
              <a href="#"
                ><i class="fa fa-yelp"></i>Inventory
                <span class="fa arrow"></span
              ></a>
              <ul class="nav nav-second-level">
                <li>
                  <a href="/it/computers"
                    ><i class="fa fa-laptop"></i>Computers</a
                  >
                </li>
                <li>
                  <a href="/it/monitors"
                    ><i class="fa fa-desktop"></i>Monitors</a
                  >
                </li>
                <li>
                  <a href="/it/headsets"
                    ><i class="fa fa-headphones"></i>Headsets</a
                  >
                </li>
                <li>
                  <a href="/it/others"><i class="fa fa-plug"></i>Others</a>
                </li>
                <li>
                  <a href="/it/search/set"
                    ><i class="fa fa-plus" aria-hidden="true"></i>Add Set</a
                  >
                </li>
              </ul>
            </li>
            <li>
              <a href="#"
                ><i class="fa fa-headphones"></i>Deliveroo Headsets
                <span class="fa arrow"></span
              ></a>
              <ul class="nav nav-second-level">
                <li>
                  <a href="/it/del/headsets"
                    ><i class="fa fa-headphones"></i>Headsets</a
                  >
                </li>
                <li>
                  <a href="/it/del/add/headsets"
                    ><i class="fa fa-plus"></i>Add Headset</a
                  >
                </li>
              </ul>
            </li>
            <li>
              <a href="/it/hrs/trace"
                ><i class="fa fa-list-ol"></i>Trace Requests
              </a>
            </li>
            <li>
              <a href="/it/hrs/request"
                ><i class="fa fa-bullhorn"></i>HR Requests
              </a>
            </li>
            <li>
              <a href="/it/change_password"
                ><i class="fa fa-key" aria-hidden="true"></i>Change Password</a
              >
            </li>
            <li>
              <a href="/logout"><i class="fa fa-sign-in"></i>Logout</a>
            </li>
          </ul>
        </div>
      </nav>
      <!-- /. NAV SIDE  -->
      <div id="page-wrapper">
        <div id="page-inner">
          <div class="row">
            <div class="col-md-12">
              <h2>Dashboard</h2>
              <h5>
                Welcome {{full_name}}, Love to see you back. Below are some
                statistics of your work.
              </h5>
            </div>
          </div>
          <!-- /. ROW  -->
          <hr />
          <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="panel panel-default">
                <div class="panel-heading">Monthly Set Overview</div>
                <input type="hidden" id="total-pc-action" value='{{ total_pc_action | tojson }}'>
                <div class="panel-body">
                  <canvas id="morris-bar-chart" width="400" height="200"></canvas>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="panel panel-default">
                <div class="panel-heading">Request / Completa</div>
                <input type="hidden" id="total-hrss" value='{{ total_hrs | tojson }}'>
                <input type="hidden" id="total-pc-actions" value='{{ total_pc_action | tojson }}'>
                <div class="panel-body">
                  <canvas id="combined-area-chart" width="400" height="200"></canvas>
                </div>
              </div>
            </div>
          </div>
          <!-- /. ROW  -->
        </div>
        <!-- /. PAGE INNER  -->
      </div>
      <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <div id="footer-sec">
      &copy; 2024 Konecta | Design By :
      <a href="" target="_blank">Flori Bica</a>
    </div>
    <!-- JQUERY SCRIPTS -->
    <script src="../../static/assets/js/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="../../static/assets/js/bootstrap.js"></script>
    <script src="../../static/assets/js/bootstrap.min.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="../../static/assets/js/jquery.metisMenu.js"></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="../../static/assets/js/customchart.js"></script>
     <!-- MORRIS CHART SCRIPTS -->
     <script src="../../static/seller_assets/js/morris/raphael-2.1.0.min.js"></script>
     <script src="../../static/assets/js/morris/raphael-2.1.0.min.js"></script>
     <script src="../../static/assets/js/morris/morris.js"></script>
     <script src="../../static/js/chart/bar_chart.js"></script>
     <script src="../../static/js/chart/area_chart.js"></script>
  </body>
</html>
