<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Konecta</title>

    <link
      rel="shortcut icon"
      type="image/icon"
      href="../../static/images/konecta_icon.webp"
    />
    <!-- BOOTSTRAP STYLES-->
    <link href="../../static/assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="../../static/assets/css/font-awesome.css" rel="stylesheet" />
    <!--CUSTOM BASIC STYLES-->
    <link href="../../static/assets/css/basic.css" rel="stylesheet" />
    <!--CUSTOM MAIN STYLES-->
    <link href="../../static/assets/css/custom.css" rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    <link
      href="http://fonts.googleapis.com/css?family=Open+Sans"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body >
    <div id="wrapper">
      <nav
        class="navbar navbar-default navbar-cls-top"
        role="navigation"
        style="margin-bottom: 0"
      >
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle"
            data-toggle="collapse"
            data-target=".sidebar-collapse"
          >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Konecta</a>
        </div>

        <div class="header-right">
          <a href="/logout" class="btn btn-danger" title="Logout"
            ><i class="fa fa-exclamation-circle fa-2x"></i
          ></a>
        </div>
      </nav>
      <!-- /. NAV TOP  -->
      <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
          <ul class="nav" id="main-menu">
            <li>
              <div class="user-img-div">
                <img
                  src="../../static/assets/img/user.png"
                  class="img-thumbnail"
                />

                <div class="inner-text">
                  {{full_name}}
                  <br />
                </div>
              </div>
            </li>

            <li>
              <a href="/"
                ><i class="fa fa-dashboard"></i>Dashboard</a
              >
            </li>
            <li>
              <a href="/receptionist/procesverbal"
                ><i class="fa fa-upload"></i>Upload Proces Verbal
              </a>
            </li>
            <li>
              <a href="/receptionist/ready/requests"
                ><i class="fa fa-list-ol"></i>Ready PC
              </a>
            </li>
            <li>
              <a class="active-menu" href="/receptionist/change_password"
                ><i class="fa fa-key" aria-hidden="true"></i>Change Password</a
              >
            </li>
            <li>
              <a href="/logout"><i class="fa fa-sign-in"></i>Logout</a>
            </li>
          </ul>
        </div>
      </nav>
      <!-- /. NAV SIDE  -->
      <div id="page-wrapper">
        <div class="row text-center" style="padding-top: 100px">
          <div class="col-md-12">
            <img src="../../static/images/konecta_logo.png" />
          </div>
        </div>
        <div class="row">
          <div
            class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1"
          >
            <div class="panel-body">
              <form role="form" action="/it/change_password" method="post">
                <hr />
                <h4 style="text-align: center">Change Password </h4>
                {% with messages =
                get_flashed_messages(category_filter=["reset"]) %} {% if
                messages %} {% for message in messages %}
                <p class="text-danger text-center">{{ message }}</p>
                {% endfor %} {% endif %} {% endwith %}
                <br />
                <div class="form-group input-group">
                  <span class="input-group-addon"
                    ><i class="fa fa-unlock" aria-hidden="true"></i
                  ></span>
                  <input
                    type="password"
                    name="old_password"
                    id="old_password"
                    class="form-control"
                    placeholder="Your Old Password"
                  />
                </div>
                <div class="form-group input-group">
                  <span class="input-group-addon"
                    ><i class="fa fa-key" aria-hidden="true"></i
                  ></span>
                  <input
                    type="password"
                    name="password"
                    id="password"
                    class="form-control"
                    placeholder="Your New Password"
                  />
                </div>
                <div class="form-group input-group">
                  <span class="input-group-addon"
                    ><i class="fa fa-unlock-alt" aria-hidden="true"></i
                  ></span>
                  <input
                    type="password"
                    name="confirm_password"
                    id="confirm_password"
                    class="form-control"
                    placeholder="Confirm Password"
                  />
                </div>
                <button type="submit" class="btn btn-primary">
                  Reset Password
                </button>
                <hr />
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <div id="footer-sec">
    &copy; 2024 Konecta | Design By :
    <a href="" target="_blank">Flori Bica</a>
  </div>
  <!-- /. FOOTER  -->
  <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
  <!-- JQUERY SCRIPTS -->
  <script src="../../static/assets/js/jquery-1.10.2.js"></script>
  <!-- BOOTSTRAP SCRIPTS -->
  <script src="../../static/assets/js/bootstrap.js"></script>
  <!-- METISMENU SCRIPTS -->
  <script src="../../static/assets/js/jquery.metisMenu.js"></script>
  <!-- CUSTOM SCRIPTS -->
  <script src="../../static/assets/js/custom.js"></script>
</html>
