<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Konecta</title>

    <link
      rel="shortcut icon"
      type="image/icon"
      href="../../static/images/konecta_icon.webp"
    />
    <!-- BOOTSTRAP STYLES-->
    <link href="../../static/assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="../../static/assets/css/font-awesome.css" rel="stylesheet" />
    <!--CUSTOM BASIC STYLES-->
    <link href="../../static/assets/css/basic.css" rel="stylesheet" />
    <!--CUSTOM MAIN STYLES-->
    <link href="../../static/assets/css/custom.css" rel="stylesheet" />
    <link
      href="../../../static/css/it/inventory/computers/computers.css"
      rel="stylesheet"
    />
    <link
      href="../../../static/css/it/inventory/computers/dataTables.bootstrap.css"
      rel="stylesheet"
    />
    <link href="../../static/css/receptionist/upload_modal.css" rel="stylesheet" />

    <!-- GOOGLE FONTS-->
    <link
      href="http://fonts.googleapis.com/css?family=Open+Sans"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body>
    <div id="wrapper">
      <nav
        class="navbar navbar-default navbar-cls-top"
        role="navigation"
        style="margin-bottom: 0"
      >
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle"
            data-toggle="collapse"
            data-target=".sidebar-collapse"
          >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Konecta</a>
        </div>

        <div class="header-right">
          <a href="/logout" class="btn btn-danger" title="Logout"
            ><i class="fa fa-exclamation-circle fa-2x"></i
          ></a>
        </div>
      </nav>
      <!-- /. NAV TOP  -->
      <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
          <ul class="nav" id="main-menu">
            <li>
              <div class="user-img-div">
                <img
                  src="../../static/assets/img/user.png"
                  class="img-thumbnail"
                />

                <div class="inner-text">
                  {{full_name}}
                  <br />
                </div>
              </div>
            </li>

            <li>
              <a href="/"><i class="fa fa-dashboard"></i>Dashboard</a>
            </li>
            <li>
              <a class="active-menu" href="/receptionist/procesverbal"
                ><i class="fa fa-upload"></i>Upload Proces Verbal
              </a>
            </li>
            <li>
              <a href="/receptionist/ready/requests"
                ><i class="fa fa-list-ol"></i>Ready PC
              </a>
            </li>
            <li>
              <a href="/receptionist/change_password"
                ><i class="fa fa-key" aria-hidden="true"></i>Change Password</a
              >
            </li>
            <li>
              <a href="/logout"><i class="fa fa-sign-in"></i>Logout</a>
            </li>
          </ul>
        </div>
      </nav>
      <!-- /. NAV SIDE  -->
      <div id="page-wrapper">
        <div id="page-inner">
          <div class="row">
            <div class="col-md-12">
              <h1 class="page-head-line">Request History</h1>
              <h1 class="page-subhead-line">
                Here you can trace all the requests that have been made by the
                HR department.
              </h1>
            </div>
          </div>
          <hr />
          <div class="loader" id="loader" style="display: none">
            <div class="loader-inner">
              <div class="loader-square"></div>
              <div class="loader-square"></div>
              <div class="loader-square"></div>
              <div class="loader-square"></div>
              <div class="loader-square"></div>
              <div class="loader-square"></div>
              <div class="loader-square"></div>
              <div class="loader-square"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-default">
                <div class="panel-body">
                  <div class="table-responsive">
                    <table
                      class="table table-striped table-bordered table-hover"
                      id="dataTables-example"
                    >
                      <thead>
                        <tr>
                          <th>ID</th>
                          <th>Fushata</th>
                          <th>Status</th>
                          <th>Operator ID</th>
                          <th>Computer SN</th>
                          <th>Monitor SN</th>
                          <th>Headset ID</th>
                          <th>Other ID</th>
                          <th>IT ID</th>
                          <th>Proces-Verbal</th>
                          <th>Upload</th>
                          <th>Close Case</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for pc_action in pc_actions %}
                        <tr class="odd gradeX">
                          <td>{{pc_action.pc_action_id}}</td>
                          <td>{{pc_action.fushata}}</td>
                          <td>
                            {% if pc_action.statusi == 'active' %}
                            <span class="label label-success">Active</span>
                            {% else%}
                            <span class="label label-danger">Closed</span>
                            {% endif %}
                          </td>
                          <td>{{pc_action.hr_id}}</td>
                          <td>{{pc_action.computer_sn}}</td>
                          <td>{{pc_action.monitor_sn}}</td>
                          <td>{{pc_action.headset_id}}</td>
                          <td>{{pc_action.other_id}}</td>
                          <td>{{pc_action.user_id}}</td>
                          <td
                            style="display: flex; justify-content: space-around"
                          >
                            <a
                              href="/procesverbal/dorzim/{{pc_action.pc_action_id}}"
                              class="btn btn-success"
                              ><i class="fa fa-check" aria-hidden="true"></i
                            ></a>
                            <a
                              href="/procesverbal/rikthim/{{pc_action.pc_action_id}}"
                              class="btn btn-danger"
                              ><i class="fa fa-retweet" aria-hidden="true"></i>
                            </a>
                          </td>
                          <td>
                            <button
                              class="btn btn-primary"
                              onclick="openUploadModal('{{pc_action.pc_action_id}}')"
                            >
                              <i class="fa fa-upload" aria-hidden="true"></i>
                              Upload PDF
                            </button>
                          </td>
                          <td style="display: flex; justify-content: space-around" >
                            <a
                              href="/receptionist/close/{{pc_action.pc_action_id}}"
                              class="btn btn-danger"
                              ><i class="fa fa-times-circle-o" aria-hidden="true"></i
                            ></a>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Modal Overlay -->
          <!-- Modal Overlay for Upload -->
          <div
            class="modal-overlay upload-modal-overlay"
            style="display: none"
          ></div>

          <!-- Upload PDF Modal -->
          <div
            class="card"
            id="uploadPdfModal"
            data-pc-id=""
            style="display: none"
          >
            <div class="card-content">
              <p class="card-heading">Upload PDF</p>
              <p class="card-description">
                Please upload the PDF for the selected request:
              </p>
              <!-- Form to upload PDF -->
              <form
                action="/receptionist/procesverbal"
                method="POST"
                enctype="multipart/form-data"
              >
                <input
                  type="hidden"
                  name="pc_action_id"
                  id="pcActionId"
                  value=""
                />
                <input
                  type="file"
                  name="pdf_file"
                  accept="application/pdf"
                  required
                />
                <div class="card-button-wrapper">
                  <button
                    class="card-button secondary"
                    type="button"
                    onclick="closeUploadModal()"
                  >
                    Cancel
                  </button>
                  <button class="card-button primary" type="submit">
                    Upload
                  </button>
                </div>
              </form>
            </div>
            <button class="exit-button" onclick="closeUploadModal()">
              <svg height="20px" viewBox="0 0 384 512">
                <path
                  d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"
                ></path>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div id="footer-sec">
      &copy; 2024 Konecta | Design By :
      <a href="" target="_blank">Flori Bica</a>
    </div>
    <script src="../../static/assets/js/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="../../static/assets/js/bootstrap.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="../../static/assets/js/jquery.metisMenu.js"></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="../../static/assets/js/custom.js"></script>
    <!-- SCRIPTS -->
    <script src="../../../static/assets/js/table/jquery-1.10.2.js"></script>
    <script src="../../../static/assets/js/table/bootstrap.min.js"></script>
    <script src="../../../static/assets/js/table/jquery.metisMenu.js"></script>
    <script src="../../../static/assets/js/table/dataTables/jquery.dataTables.js"></script>
    <script src="../../../static/assets/js/table/dataTables/dataTables.bootstrap.js"></script>
    <script src="../../static/js/receptionist/upload_modal.js"></script>
    <script>
      $(document).ready(function () {
        $("#dataTables-example").dataTable();
      });
    </script>
  </body>
</html>
